* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

button {
    cursor: pointer;
    border: none;
}

label {
    cursor: pointer;
}

input {
    display: none;
}


:root {
    --white: #fff;
    --color-blue: #00008B;
    --black: #000;
    --dark-grey: #454444;
    --light-grey: #A9A9A9;
    --light-grey2: #D3D3D3;
}

.dark-mode:root {
    --white: #000;
    --color-blue: #00008B;
    --black: #fff;
    --dark-grey: #454444;
    --light-grey: #A9A9A9;
    --light-grey2: #D3D3D3;
}