.container {
    width: 100%;
    height: 100vh;
}


.top-page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 15px;
    background-color: var(--color-blue);
}

.top-page>p {
    color: var(--white);
    font-size: 0.7rem;
    margin: 4px 15px 4px 0;

}

.header-container {
    width: 100%;
    background-color: var(--white);
}

.nav-header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    margin: auto;
}

.header-nav-image-logo {
    width: 20%;
    max-width: 100px;
    height: 70px;
    margin-bottom: 8px;
}

.header-ul-infos {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
    list-style: none;
    display: none;
}

.header-ul-infos>li {
    width: 100%;
    max-width: 118px;
}

.header-ul-infos>li>button {
    background-color: var(--white);
    color: var(--light-grey);
    width: 80px;
}


.section-desc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--white);

}

.section-desc-container>img {
    width: 100%;
    max-width: 400px;
}

.section-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 12px 0 0 20px;
    width: 80%;
    max-width: 500px;
}

.section-desc>p {
    font-size: 12px;
    color: var(--light-grey);
    width: 270px;
}

.section-ul-desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;

}

.section-ul-desc>li {
    font-size: 12px;
    color: var(--light-grey);
    width: 200px;
    max-width: 900px;
}

.subtitulo {
    font-size: 20px;
    color: var(--light-grey);
    font-weight: 100;
    width: 300px;
}

@media(min-width:768px) {
    .top-page>p {
        margin-right: 182px;
    }

    .header-ul-infos {
        flex-direction: row;
        display: flex;
    }

    .header-nav-image-logo {
        height: 90px;
        margin-right: 200px;
    }

    .section-desc-container {
        flex-direction: row;

    }

    .section-desc-container>img {
        margin-top: 20px;
    }

    .section-desc {
        width: 590px;
    }
}